* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  background-color: #edeec8;
}

.container {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.title {
  padding: 40px;
  font-weight: 800;
  text-align: center;
}

a {
  display: block;
  margin: 20px 0;
  text-decoration: none;
}